name: Backend CD

permissions:
  contents: write
  packages: write

on:
  workflow_dispatch: {}
  push:
    branches:
      - 'main'
    paths:
      - 'backend/**'

jobs:
  release:
    name: Build and Publish Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: backend/pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      
      - name: Tag Version
        id: tag
        run: |
          export VERSION=v$(uv version --short)
          git tag $VERSION
          git push origin $VERSION
          echo "name=$VERSION" >> $GITHUB_OUTPUT
        working-directory: backend

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}-backend
          tags: |
            type=raw,value=${{ steps.tag.outputs.name }}
          flavor: |
            latest=auto

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Set up QEMU (for multi-arch builds)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: backend
          file: backend/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max